#gameCanvas {
  border: 2px solid black;
  background-image: url("../images/mushroom_kingdom__all_stars__by_klunsgod_df0bmaq-414w-2x.jpg");
}

#restart {
  position: absolute;
  left: 400px;
  top: 400px;
  display: none;
}
